.container{
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
}

.todoList_footer{
    display: flex;
    color: var(--secondary);
    background-color: var(--primary);
    padding: 15px 20px;
    justify-content: space-between;
    font-size: 12px;
}

.clear_btn{
    &:hover{
        color: var(--p-main-hover)
    }
}