.container{
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25)
}

.filter_button{
    &:hover{
        color: var(--p-main-hover);
    }
}

.all_selected{
    color: var(--active);
    font-weight: 700;
}