:root {
  --active: hsl(220, 98%, 61%);
  --checkbox-grad1: hsl(192, 100%, 67%);
  --checkbox-grad2: hsl(280, 87%, 65%);
  --font-family: 'Kumbh Sans', sans-serif;

  --background: hsl(233, 11%, 84%);
  --heading: hsl(236, 33%, 92%);
  --primary: hsl(0, 0%, 98%);
  --p-main: hsl(235, 19%, 35%);
  --p-main-hover: hsl(235, 19%, 35%);
  --filters: hsl(236, 9%, 61%);
  --secondary: hsl(236, 9%, 61%);
  --tertiary: hsl(236, 9%, 61%);

  --mobile-img: url('./assets/bg-mobile-light.jpg');
  --desktop-img: url('./assets/bg-desktop-light.jpg');
  /* Very Light Grayish Blue: hsl(236, 33%, 92%) ; */
}

:root.dark {
  --active: hsl(220, 98%, 61%);
  --checkbox-grad1: hsl(192, 100%, 67%);
  --checkbox-grad2: hsl(280, 87%, 65%);
  --font-family: 'Kumbh Sans', sans-serif;

  --background: hsl(235, 21%, 11%);
  --heading: hsl(236, 33%, 92%);
  --primary: hsl(235, 24%, 19%);
  --p-main: hsl(234, 39%, 85%);
  --p-main-hover: hsl(236, 33%, 92%);
  --filters: hsl(234, 11%, 52%);
  --secondary: hsl(233, 14%, 35%);
  --tertiary: hsl(237, 14%, 26%);

  --mobile-img: url('./assets/bg-mobile-dark.jpg');
  --desktop-img: url('./assets/bg-desktop-dark.jpg');
}

*,
*::before,
*::after {
box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

button{
  border: none;
  background: transparent;
  color: var(--secondary);
}


body {
  font-family: var(--font-family);
  color: var(--p-main);
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  background-image: var(--mobile-img);
  background-size: 100% 32%;
  background-position: top;
  background-repeat: no-repeat;
}

h1{
  color: var(--heading);
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 12px;
}

@media (min-width: 426px) {
  body {
    background-image: var(--desktop-img);
  }
}

img{
  width: 100%;
  height: auto;
}
